blinker==1.9.0
cffi==1.17.1
click==8.2.1
cryptography==45.0.3
fernet==1.0.1
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==5.4.0
Markdown==3.8
markdown2==2.5.3
MarkupSafe==3.0.2
pyaes==1.6.1
pycparser==2.22
python-docx==1.1.2
SQLAlchemy==2.0.41
typing_extensions==4.13.2
Werkzeug==3.1.3
